<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143255054617-h057f16um65f2b2obrr1a14u908mj545.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143255054617-h057f16um65f2b2obrr1a14u908mj545</string>
	<key>API_KEY</key>
	<string>AIzaSyCmOoe9A-PoGcKMQB2d7mTUmAjAEPgexp0</string>
	<key>GCM_SENDER_ID</key>
	<string>143255054617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gigahard.dos</string>
	<key>PROJECT_ID</key>
	<string>dos-game-cabae</string>
	<key>STORAGE_BUCKET</key>
	<string>dos-game-cabae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143255054617:ios:bdfe71dfe41104956e7d88</string>
</dict>
</plist>